.info {
    margin: 60px 0 0;
}

.info-container {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-bottom: 1px solid var(--stroke-color);
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

.info-content .left-side {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.left-side .header-p {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 32px;
    color: var(--text-dark);
}

.cv {
    color: var(--text-dark);
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    padding: 12px 0;
}

.cv img {
    width: 24px;
    transition: 0.6s ease-in-out;
}

.cv:is(:hover, :focus-visible) {
    text-decoration: none;
}

.cv:is(:hover, :focus-visible) img {
    transform: translateX(32px);
    transform: translateY(-6px);
    rotate: 90deg;
    scale: 1.1;
}


.right-side .header-text {
    margin-block-end: 24px;
}

.CircleBtn {
    position: relative;
    transition: 1s cubic-bezier(0.075, 0.5, 0, 1);
}


/* Responsive Styles */

@media only screen and (min-width:540px) {
    .info-content {
        flex-direction: row;
        margin-bottom: 36px;
    }

    .info-container {
        margin: 0 50px;
        gap: 24px;
    }
}


@media only screen and (min-width:768px) {
    .info {
        margin: 80px 0 0;
    }
    
    .info-container {
        margin: 0 70px;
        gap: 36px;
    }
    
    .info-content {
        flex-direction: row;
        margin-bottom: 42px;
        gap: 48px;
    }

    .info-content .about-btn {
        padding: 64px 40px;
    }
}


@media only screen and (min-width:992px) {
    .info {
        margin: 100px 0 0;
    }
    
    .info-container {
        margin: 0 100px;
    }
    
    .info-content {
        gap: 64px;
        margin-bottom: 60px;
    }
    
    .info-content .left-side {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    
    .left-side .header-p {
        font-size: 20px;
        line-height: 32px;
    }
    
    .right-side .header-text {
        margin-block-end: 28px;
    }
}

@media only screen and (min-width:1200px) {
    .info {
        margin: 100px 0 0;
    }
    
    .info-container {
        margin: 0 120px;
    }
    
    .info-content {
        gap: 120px;
        margin-bottom: 80px;
    }
    
    .info-content .left-side {
        gap: 20px;
    }
    
    .left-side .header-p {
        font-size: 24px;
        line-height: 36px;
    }
    
    .right-side .header-text {
        margin-block-end: 36px;
    }
}

@media only screen and (min-width:1400px) {

    .info {
        margin: 100px auto 0;
        max-width: 1920px;
    }
    
    .info-container {
        margin: 0 180px;
    }
    
    .info-content {
        gap: 140px;
    }
    
    .info-content .left-side {
        max-width: 50%;
        gap: 24px;
    }

    .info-content .right-side {
        max-width: 30%;
        gap: 30px;
    }
}