.hero iframe {
    border: none;
    width: 16px;
    margin-block-start: 40px;
    visibility: hidden;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    background-color: var(--bg-hero);
    overflow: hidden;
}

.hero .text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    top: 80vh;
    z-index: 100;
}

.text-inner-right,
.text-inner-left {
    position: relative;
}

.text-inner-left {
    width: 20%;
    height: 60px;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: var(--text-dark);
    border-radius: 30px 0 0 30px;
}
.text-inner-left p {
    display: none;
}
.text-inner-left iframe {
    width: 40px;
    height: 40px;
    visibility: visible;
    margin: 0;
}

.text-inner-right {
    position: relative;
    padding-inline-start: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.text-inner-right .text1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text-inner-right img {
    width: 24px;
}


.first-header, .second-header {
    font-size: 7vw;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: var(--text-light);
}

.hero .user-container {
    position: absolute;
    bottom: -10px;
    z-index: 2;
}

.hero .user-container img {
    width: auto;
    height: 100vh;
    bottom: 0;
}

.scroller {
    position: absolute;
    top: 52vh;
    z-index: 3;
    max-width: 100%;
    transition: 1s cubic-bezier(0.075, 0.5, 0, 1);
}

.scroller .scroller_inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    font-size: 36vw;
    font-weight: 400;
    color: var(--text-light);
    letter-spacing: 1px;
}

.scroller_inner li {
    width: max-content;
    display: flex;
    flex-direction: row;
    white-space: pre;
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller_inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: 60s linear infinite scroll;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}

/* Responsive Styles */

@media only screen and (min-width:540px) {
    
    .text-inner-left {
        width: 20%;
        height: 60px;
        border-radius: 50px 0 0 50px;
    }
    .text-inner-left iframe {
        width: 40px;
        height: 40px;
    }

    .first-header, .second-header {
        font-size: 5vw;
    }

    .scroller {
        top: 50vh;
    }

    .scroller .scroller_inner {
        gap: 1rem;
        letter-spacing: 2px;
        font-size: 23vw;
    }
}


@media only screen and (min-width:768px) {
    
    .hero iframe {
        margin-block-start: 40px;
    }

    .hero .text {
        position: relative;
        width: 100%;
        margin: 0 auto;
        top: 40vh;
    }

    .text-inner-left {
        width: 34%;
        max-width: 340px;
        height: 120px;
        order: 0;
        border-radius: 0 80px 80px 0;
        flex-direction: row;
        gap: 34px;
        padding: 0 32px;
    }
    .text-inner-left p {
        display: block;
        color: var(--text-light);
    }
    .text-inner-left iframe {
        width: 40px;
        height: 40px;
        visibility: visible;
        margin: 0;
    }

    .text-inner-right {
        padding-inline-end: 3%;
    }

    .first-header, .second-header {
        font-size: 4vw;
    }

    .scroller {
        top: 64vh;
    }

    .scroller .scroller_inner {
        gap: 1rem;
        font-size: 28vw;
        letter-spacing: 2px;
    }
}


@media only screen and (min-width:992px) {
    
    .hero iframe {
        width: 12px;
        margin-block-start: -35px;
    }
    
    .hero .text {
        top: 32vh;
    }

    .text-inner-left {
        max-width: 360px;
    }
    .text-inner-left p {
        font-size: 1.2rem;
        line-height: 32px;
    }
    .text-inner-left iframe {
        width: 60px;
        height: 60px;
        margin: 0;
    }

    .text-inner-right {
        padding-inline-end: 4%;
    }

    .first-header, .second-header {
        font-size: 3vw;
    }

    .scroller {
        position: absolute;
        top: 62vh;
    }

    .scroller .scroller_inner {
        font-size: 24vw;
    }
}

@media only screen and (min-width:1200px) {
    .hero .text {
        gap: 0.3rem;
    }

    .text-inner-right {
        padding-inline-end: 8%;
    }

    .first-header, .second-header {
        font-size: 2vw;
    }

    .scroller {
        top: 62vh;
    }

    .scroller .scroller_inner {
        font-size: 15vw;
    }
}

@media only screen and (min-width:1400px) {
    
    .first-header, .second-header {
    }
}