
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-hero);
    overflow: hidden;
}

.hero .text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
}
.first-header, .second-header {
    position: relative;
    margin: 0 10px;
    top: 35vh;
}
.first-header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 2.4rem;
    color: transparent;
    -webkit-text-stroke-color: var(--text-light);
    -webkit-text-stroke-width: 1px;
    z-index: 1;
}
.first-header span {
    font-size: 1.4rem;
    color: var(--text-light);
    margin-block-start: -12px;
    -webkit-text-stroke-width: 0px;
}

.second-header {
    position: relative;
    color: var(--text-light);
    z-index: 100;
}

.hero .user-container {
    position: absolute;
    bottom: -10px;
    z-index: 2;
}

.hero .user-container img {
    width: auto;
    height: 95vh;
    bottom: 0;
}

.scroller {
    position: absolute;
    bottom: 5vh;
    z-index: 3;
    max-width: 100%;
}

.scroller .scroller_inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;

    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
    letter-spacing: 1px;
}

.scroller_inner li {
    width: max-content;
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller_inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: 300s linear infinite scroll;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}

/* Responsive Styles */

@media only screen and (min-width:540px) {
    .hero .text {
        gap: 3.6rem;
    }
    .first-header, .second-header {
        margin: 0 20px;
        top: 28vh;
    }
    .first-header {
        gap: 14px;
        font-size: 3.2rem;
    }
    .first-header span {
        font-size: 2.4rem;
        margin-block-start: -22px;
    }
    .second-header {
        font-size: 4.2rem;
    }

    .scroller .scroller_inner {
        gap: 1rem;
    
        font-size: 2.2rem;
        letter-spacing: 2px;
    }
}


@media only screen and (min-width:768px) {
    .hero .text {
        align-items: flex-start;
        gap: 3.8rem;
    }
    .first-header, .second-header {
        margin: 0 10px;
        top: 22vh;
    }
    .first-header {
        gap: 1.6rem;
        font-size: 4.8rem;
    }
    .first-header span {
        font-size: 3.2rem;
        color: var(--text-light);
        margin-block-start: -22px;
    }
    
    .second-header {
        font-size: 4.8rem;
    }
    
    .scroller .scroller_inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    
        font-size: 2.4rem;
    }
}


@media only screen and (min-width:992px) {
    .hero .text {
        align-items: center;
        gap: 3.8rem;
    }

    .first-header, .second-header {
        font-size: 6.2rem;
        top: 28vh;
    }

    .first-header {
        flex-direction: row;
        gap: 1.6rem;
        font-size: 6.2rem;
    }

    .first-header span {
        font-size: 6.2rem;
        margin-block-start: 0px;
    }

    .scroller .scroller_inner {
        gap: 2rem;
    
        font-size: 2.4rem;
        letter-spacing: 2px;
        font-weight: 600;
    }
    
}

@media only screen and (min-width:1200px) {
    .hero .text {
        gap: 0.3rem;
    }

    .first-header, .second-header {
        font-size: 7.2rem;
        top: 20vh;
    }

    .first-header span {
        font-size: 7.2rem;
    }

    .scroller .scroller_inner {
        gap: 2rem;
    
        font-size: 2.4rem;
        letter-spacing: 2px;
        font-weight: 600;
    }
}

@media only screen and (min-width:1400px) {
    
    .first-header, .second-header {
        font-size: 9.2rem;
        top: 20vh;
    }

    .first-header span {
        font-size: 9.2rem;
    }
}