.footer {
    width: 100%;
    height: 100vh;
    max-height: 1100px;
    min-height: max-content;
    margin: 80px 0 0;
    background-color: var(--text-dark);
    overflow: hidden;
}

.footer-container {
    position: relative;
    margin: 0 20px;
    padding: 80px 0 0;
    height: 100vh;
    max-height: 1100px;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 48px;
}

.footer .footer-content h1, 
.footer-content span {
    color: var(--text-light);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer .footer-content h1 {
    display: flex;
    flex-direction: column;
}

.footer-contact {
    border-top: 1px solid var(--stroke-color-light);
    padding: 32px 0;
    margin-block-start: 32px;
    position: relative;
}

.footer-contact button {
    color: var(--text-light);
    border: 1px solid var(--stroke-color-light);
}

.footer-contact .footer-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 8%;
    top: -25%;
}

.footer-contact .contact-link {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block-start: 72px;
}

.contact-link .phone, 
.contact-link .email,
.contact-link .phone a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contact-link .phone img {
    width: 26px;
}

.social-links {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-top: 1px solid var(--stroke-color-light);
}

.social-links-inner {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 12px 0 24px 0;
    justify-content: flex-end;
}

.social-links p {
    color: var(--text-light);
}

.social-link {
    cursor: pointer;
}

.contact-link p,
.footer-btn a {
    color: var(--text-light);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}
.footer-btn a:is(:hover, :focus-visible) {
    text-decoration: none;
}

.social-links iframe {
    border: none;
    width: 16px;
    height: 16px;
    margin: auto 0;
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--footer-before-height, 100px);
    background-color: var(--text-light);
    border-radius: 140%/0 0 300% 300%;
    transition: height 0.3s linear;
}


/* Responsive Styles */

@media only screen and (min-width:540px) {
    .footer-container {
        margin: 0 40px;
        padding: 80px 0 0;
    }

    .footer .footer-content h1, 
    .footer-content span {
        font-size: 42px;
    }
}


@media only screen and (min-width:768px) {
    .footer {
        margin: 100px 0 0;
    }
    
    .footer-container {
        margin: 0 60px;
        padding: 100px 0 0;
    }

    .footer .footer-content h1, 
    .footer-content span {
        font-size: 48px;
    }

    .footer-contact {
        margin-block-start: 42px;
    }
    
    .footer-contact .footer-btn {
        right: 10%;
        top: -45%;
    }
    
    .footer-contact .contact-link {
        flex-direction: row;
        margin-block-start: 32px;
    }

    .contact-link .phone img {
        width: 22px;
    } 
}

@media only screen and (min-width:992px) {
    .footer {
        margin: 120px 0 0;
    }
    
    .footer-container {
        margin: 0 100px;
    }

    .footer .footer-content h1, 
    .footer-content span {
        font-size: 54px;
    }

    .footer::before {
        height: var(--footer-before-height, 200px);
    }
}

@media only screen and (min-width:1200px) {
    .footer {
        margin: 180px 0 0;
    }
    
    .footer-container {
        margin: 0 120px;
        padding: 120px 0 0;
    }

    .footer .footer-content h1, 
    .footer-content span {
        font-size: 64px;
    }

    .footer-contact {
        margin-block-start: 64px;
    }
    
    .footer-contact .footer-btn {
        right: 16%;
        top: -54%;
    }

    .contact-link .phone img {
        width: 26px;
    } 
    
}

@media only screen and (min-width:1400px) {

    .footer {
        margin: 180px 0 0;
    }

    .footer-inner {
        max-width: 1920px;
        margin: 0 auto;
    }
    
    .footer-container {
        margin: 0 180px;
    }

    
    .footer-content h1 {
        font-size: 300%;
    }

    .footer .footer-content h1, 
    .footer-content span {
        font-size: 5rem;
    }
}

@media only screen and (min-width:1800px) {

    .footer {
        margin: 180px 0 0;
        height: 60vh;
    }

    .footer-inner {
        max-width: 1920px;
        margin: 0 auto;
    }
    
    .footer-container {
        margin: 0 180px;
        height: 60vh;
    }
}