.workHeader {
    width: 100%;
    cursor: auto;
}

.workHeader-container {
    margin: 0 20px 0;
    padding-block-start: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.workHeader .workHeader-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid var(--stroke-color);
    padding-block-end: 36px;
}

.workHeader-container .workHeader-img {
    width: 100%;
    display: none;
}

.workHeader-container .workHeader-img img {
    position: relative;
    width: 100%;
}

.workHeader-header h3 {
    font-size: 36px;
    color: var(--text-dark);
    letter-spacing: 0.6px;
    font-weight: 400;
}

.workHeader-content .workHeader-btn {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-block-start: 24px;
    overflow: hidden;
}


.content-section {
    opacity: 0;
    transform: translateY(100px); /* Start from below */
    transition: opacity 600ms linear, transform 500ms linear; /* Smooth transition */
    position: absolute;
    width: 100%;
    top: 0;
    transition-delay: 100ms;
}

.content-section.active {
    opacity: 1;
    transform: translateY(0); /* Move to the final position */
    position: relative;
}


.all-work {
    opacity: 0;
    transform: translateY(100px); /* Start from below */
    transition: 500ms linear; /* Smooth transition */
}

.all-work.active {
    opacity: 1;
    transform: translateY(0); /* Move to the final position */
}



/* Responsive Styles */

@media only screen and (min-width:540px) {
    
    .workHeader-container {
        margin: 0 50px 80px;
        padding-block-start: 80px;
        gap: 24px;
    }
    
    .workHeader-container {
        gap: 40px;
    }
}


@media only screen and (min-width:768px) {
    
    .workHeader-container {
        margin: 0 70px 80px;
        padding-block-start: 80px;
    }

    .workHeader-container .workHeader-img {
        width: 80%;
    }

    .workHeader-header h3 {
        font-size: 46px;
    }

}


@media only screen and (min-width:992px) {
    
    .workHeader-container {
        margin: 0 100px 100px;
        padding-block-start: 100px;
        gap: 60px;
    }

    .workHeader-container .workHeader-img {
        width: 80%;
    }

    .workHeader-header h3 {
        font-size: 58px;
    }

    .workHeader-content {
        gap: 42px;
    }

    .workHeader-content .workHeader-btn {
        gap: 16px;
        margin-block-start: 42px;
    }

    .workHeader-container .btn-empty,
    .workHeader-container .btn-active {
        padding: 26px 42px;
        font-size: 16px;
    }
    
}

@media only screen and (min-width:1200px) {
    
    .workHeader-container {
        margin: 0 140px 120px;
        padding-block-start: 140px;
    }

    .workHeader-container .workHeader-img {
        width: 80%;
    }

    .workHeader-header h3 {
        font-size: 72px;
    }
    
}

@media only screen and (min-width:1400px) {

    .workHeader {
        margin: 0 auto;
        max-width: 1920px;
    }
    
    .workHeader-container {
        margin: 0 180px 140px;
        padding-block-start: 140px;
    }

    .workHeader-header h3 {
        font-size: 5rem;
    }
}